#header {
    text-align: center;
    border: 3px solid green;
}

#login_form {
    border: 3px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

