#header {
    text-align: center;
    border: 3px solid green;
}

#login_form {
    border: 3px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#simulation_form {
    border: 3px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#input_parameters {
    padding-right: 50px;
}

#input_canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#draw_canvas {
    border:3px solid green;
}

.active {
    background-color: #00ff00;
}
