{% extends "base.html" %}
{% block title %} Main {% endblock %}
{% block header %}
    <h1>Main menu</h1>
    <h2>Welcome {{ username }}, <a href="logout">LOGOUT</a></h2>
{% endblock %}
{% block content %}
    <script src="static/draw.js" defer></script>

    <div id="simulation_form">
        <div id="input_parameters">
            <form action="/run_simulation" method="post" autocomplete="on">
                <table>
                    <tr>
                        <td><label for="d_with">Domain width:</label></td>
                        <td><input type="number" id="d_width" name="d_with" value="1000"></td>
                    </tr>
                    <tr>
                        <td><label for="d_height">Domain height:</label></td>
                        <td><input type="number" id="d_height" name="d_height" value="1000"></td>
                    </tr>
                    <tr>
                        <td><label for="alpha_l">Alpha_l:</label></td>
                        <td><input type="number" id="alpha_l" name="alpha_l" value=""></td>
                    </tr>
                    <tr>
                        <td><label for="alpha_t">Alpha_t:</label></td>
                        <td><input type="number" id="alpha_t" name="alpha_t" value=""></td>
                    </tr>
                    <tr>
                        <td><label for="c0">C0:</label></td>
                        <td><input type="number" id="c0" name="c0" value=""></td>
                    </tr>
                    <tr>
                        <td><label for="c1">C1:</label></td>
                        <td><input type="number" id="c1" name="c1" value=""></td>
                    </tr>
                    <tr>
                        <td><label for="ca">Ca:</label></td>
                        <td><input type="number" id="ca" name="ca" value=""></td>
                    </tr>
                    <tr>
                        <td><label for="gamma">Gamma:</label></td>
                        <td><input type="number" id="gamma" name="gamma" value=""></td>
                    </tr>
                    <tr>
                        <td><label for="r">R:</label></td>
                        <td><input type="number" id="r" name="r" value=""></td>
                    </tr>
                    <tr>
                        <!-- Number of terms - 1 -->
                        <td><label for="terms_n">N:</label></td>
                        <td><input type="number" id="terms_n" name="terms_n" value=""></td>
                    </tr>
                    <tr>
                        <!-- Number of controll points -->
                        <td><label for="controll_m">M:</label></td>
                        <td><input type="number" id="controll_m" name="controll_m" value=""></td>
                    </tr>
                    <tr>
                        <td><label for="solver">Solver:</label></td>
                        <td>
                            <select id="solver" name="solver">
                                <option value="least_squares">Least Squares</option>
                                <option value="gauss_seidel">Gauss Seidel</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="submit">Run the simulation:</label></td>
                        <td><input type="submit" value="Run" id="submit" name="submit"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="input_canvas">
            <canvas id="draw_canvas" width="600" height="600"></canvas>
            <table>
                <tr><td><button id="btn_clear">Clear all</button></td><tr>
                <tr><td><button id="btn_delete">Delete element</button></td><tr>
                <tr><td><button id="btn_move">Move element</button></td><tr>
                <tr><td><button id="btn_undo">Undo</button></td><tr>
                <tr><td><button id="btn_circle">Add circle</button></td><tr>
                <tr><td><button id="btn_line">Add line</button></td><tr>
            </table>
        </div>
    </div>
{% endblock %}

