{% extends "base.html" %}
{% block title %} Main {% endblock %}
{% block header %}
    <h1>Main menu</h1>
    <h2>Welcome {{ username }}, <a href="logout">LOGOUT</a></h2>
{% endblock %}
{% block content %}
    <div id="simulation_form">
        <form action="/run_simulation" method="post" autocomplete="on">
            <table>
                <tr>
                    <td><label for="tool">Tool:</label></td>
                    <td>
                        <select id="tool" name="tool">
                            <option value="circle">Circle</option>
                            <option value="line">Line</option>
                            <option value="other">Other</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="alpha_l">Alpha_l:</label></td>
                    <td><input type="text" id="alpha_l" name="alpha_l"></td>
                </tr>
                <tr>
                    <td><label for="alpha_t">Alpha_t:</label></td>
                    <td><input type="text" id="alpha_t" name="alpha_t"></td>
                </tr>
                <tr>
                    <td>C0:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>C1:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Ca:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Gamma:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>R:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>N:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>M:</td>
                    <td></td>
                </tr>
                <tr>
                    <td><label for="submit">Run the simulation:</label></td>
                    <td><input type="submit" value="Run" id="submit" name="submit"></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}

